<div class="topnav">
    <a routerLink="/products" class="products" >Products</a>
    <input type="text" placeholder="Search...">
    <a routerLink="/cart" class="cart" >Cart</a>
    
    <div *ngIf = "isLoggedIn === true">
        <a class="logout" (click) = "logout()">logout</a>
    </div>
    <div *ngIf = "isLoggedIn === false">
        <a routerLink="/login" class="login" >Login</a>
    </div>
    
</div>

<div class="container">

    <div class = "categories-list">
        <app-categories (sendCategory) = "getCategory($event)"></app-categories>
    </div>

    <div class = "product-list">
        <app-product [selectedCategory] = "selectedCategory"></app-product>
    </div> 
    
</div>
